@charset "utf-8";
/* CSS Document */
/*Default Styles*/
body {
	margin:0px;
	padding:0px;
	font-size:12px;
	font-family:'lucida grande',tahoma,verdana,arial,sans-serif;
	color:#666666;
	line-height:19px; 
}
img {
	border:0px;
	font-size:0px; 
}
h1,h2,h3,h4,h5,h6,ul,ol,p,img {
	margin:0px;
	padding:0px; 
}
hr {
	height:1px;
	border:0px;
	background-color:#666;
}
table th {
	text-align:left;
	font-size:90%; 
}
input[type="submit"] {
	background-color:#2DA5DA;
	padding:4px;
	border:1px solid #CCC;
	color:#FFF;
	cursor:pointer; 
}
input[type=checkbox] {
	margin:0px;
	margin-right:5px; 
}
a {
	text-decoration:none;
}
a:hover {
	text-decoration:underline; 
}
/*Layout Styles*/
.clear {
	clear:both;
	width:100%; 
}
.addnew {
	padding:3px 8px;
	color:#666;
	border-radius:5px;
	border:1px solid #E5E5E5;
	background-color:#FAFAFA; 
}
.aligncenter {
	text-align:center; 
}
.alignleft {
	float:left;
	margin-right:5px;
}
.alignright {
	float:right;
	margin-left:5px; 
}
.wc_wrapper {
	width:100%;
	position:relative; 
}
.alert-box {
	color:#555;
	border-radius:10px;
	padding:10px 36px;
	margin:10px;
	background:#e9ffd9;
	border:1px solid #a6ca8a;
}
.form_wrapper {
	width:300px;
	min-height:200px;
	margin:auto;
	margin-top:20px;
	margin-bottom:15px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}
.form_wrapper  h1 {
	font-size:22px;
	margin:0; 
	background: none repeat scroll 0 0 rgba(248, 248, 248, 0.9);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding:20px;
} 
.form_wrapper form {
	margin-top:20px; 
}
input[type="text"], input[type="password"], textarea {
	width:98%;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	padding: 3px 0px 3px 3px;
	border: 1px solid #DDDDDD;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus { 
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);
}
/*Admin panel styling.*/
.admin_wrap {
	width:100%; 
}
.title_wrap {
	margin:0; 
	background: none repeat scroll 0 0 rgba(248, 248, 248, 0.9);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding:20px; 
}
.admin_wrap .sidebar {
	float:left;
	width:150px;
	background: none repeat scroll 0 0 rgba(248, 248, 248, 0.9);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.admin_wrap .sidebar ul {
	 margin:0px;
	 padding:0px;
}
.admin_wrap .sidebar ul ul {
	display:none;
	position:absolute;
	top:0px;
	left:100%;
	z-index:8888;
	width:150px;
	background: none repeat scroll 0 0 rgba(248, 248, 248, 100);
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.admin_wrap .sidebar ul li {
	list-style:none;
	position:relative;
	margin:0px;
	padding:0px; 
	display:block;
}
.admin_wrap .sidebar ul li:hover>ul {
	display:block; 
}
.admin_wrap .sidebar ul li a {
	display:block;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding:12px;
}
.admin_wrap .rightcontent {
	padding:20px;
	width:80%;
}
.rightcontent h2 {
	margin-bottom:15px;
	line-height:27px; 
}
#wc_table_filter input[type="text"] {
	width:200px; 
}
#wc_table .even {
	background-color:#FCFCFC; 
}
#wc_table .odd {
	background-color:#f9f9f9;
}
#wc_table .odd td, #wc_table .even td {
	border-bottom: 1px solid #DFDFDF;
    border-top: 1px solid  #FFFFFF; 
}
#wc_table {
	border:1px solid #DFDFDF;
	border-radius:3px; 
}
#wc_table thead {
	background:linear-gradient(to top, #ECECEC, #F9F9F9) repeat scroll 0 0 #F1F1F1; 
}
#wc_table th {
	border-bottom:0px;
}
.dataTables_filter {
	margin-bottom:15px; 
}
.info_box {
	width:260px;
	min-height:179px;
	margin-bottom:25px;
	margin-right:10px;
	padding:10px;
	background:none repeat scroll 0 0 rgba(248, 248, 248, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.1); 
}
/*Reports*/
.company_info {
	width:650px;
	position:relative;
	padding-top:10px;
	padding-bottom:10px; 
	margin:auto;
	border-bottom:1px solid #CCC;
}
.company_info h2 { 
	margin-left:10px;
	margin-top:5px;
	width:600px;
}
