@charset "utf-8";
/* CSS Document */
h1,h2,h3,h4,h5,h6,ul,ol,img,p {
	border:0px;
	margin:0px;
	padding:0px;
}			
h1,h2 {
	margin-bottom:5px;
	}	
.clearIt {
	width:100%;
	height:2px;
	clear:both; 
}
#table_div {
	margin:auto;
	font-family:Tahoma, Geneva, sans-serif;
	}
#table_div h1 {
	font-size:18px;
	float:left;
	}
#table_div h2 {
	font-size:12px;
	float:left;
	margin-left:20px;
	text-transform:capitalize;
	margin-top:10px;
	}	
#table_div table tr th  {
	border-top:3px solid #000000;
	border-bottom:3px solid #000000;
	font-size:12px;
	}
	
.border {
	border-top:2px solid #000000;
	min-width:55px;
	}		
#table_div table tr td  {
	font-size:12px;
	}
#table_div table p {
	padding:0px;
	margin:0px;
	padding-top:5px;
	display:inline-block;
	}
.align_right {
	text-align:right;
}
.align_left {
	text-align:left;
}
.transaction_range {
	width:450px;
	border:1px solid #CCC;
	box-shadow:1px 1px 1px 1px #CCC;
	margin:auto;
	margin-top:25px;
	padding:15px; 
}